<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236816407952-k6pj313fgce01oc3gjqjo9o4924u28vm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236816407952-k6pj313fgce01oc3gjqjo9o4924u28vm</string>
	<key>API_KEY</key>
	<string>AIzaSyDgl2QVNGV40VtEQc4VZRXnwNZ0gZ-TP4g</string>
	<key>GCM_SENDER_ID</key>
	<string>236816407952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MediaGate.MediaGate</string>
	<key>PROJECT_ID</key>
	<string>mediagate-2532a</string>
	<key>STORAGE_BUCKET</key>
	<string>mediagate-2532a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236816407952:ios:462829fdeb342aa4d5e715</string>
	<key>DATABASE_URL</key>
	<string>https://mediagate-2532a.firebaseio.com</string>
</dict>
</plist>